<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Onbox.Abstractions" version="7.0.0" />
  <package id="Onbox.Core" version="7.0.0" />  
  <package id="Onbox.Di" version="7.0.0" />
  <package id="Onbox.Mvc.Abstractions" version="7.0.0" />
  <package id="Onbox.Mvc.Revit" version="7.0.0" />
  <package id="Onbox.Mvc.Revit.Abstractions" version="7.0.0" />
  <package id="Onbox.Revit" version="7.0.0" />
  <package id="Onbox.Revit.Abstractions" version="7.0.0"/>
  <package id="Onbox.Store" version="7.0.0"/>
  <package id="Onbox.Analyzers" version="7.0.0" developmentDependency="true"/>
</packages>