<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Onbox.Abstractions" version="0.9.1" targetFramework="net472" />
  <package id="Onbox.Di" version="0.9.1" targetFramework="net472" />
  <package id="Onbox.Revit" version="0.9.1" targetFramework="net472" />
  <package id="Onbox.Revit.Abstractions" version="0.9.1" targetFramework="net472" />
  <package id="Onbox.Revit.References" version="2021.0.0" targetFramework="net472" />
</packages>